@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
/*RESET*/
* {
	margin: 0;
	padding: 0;

	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
html,
body {
	font-family: 'Roboto', sans-serif;
}

/*VARIABLES*/
:root {
	--font-min: 0.8em;
	--font-small: 0.875em;
	--font-normal: 1em;
	--font-medium: 1.2em;
	--font-large: 1.4em;
	--font-max: 2em;

	--background-default: #f3f3f3;
	--color-gray: #c0c0c0;
	--color-gray-dark: #656565;
	--color-default: #707070;
	--color-green: #36ba9b;
	/* --color-green: #77c5c6; */
	--color-blue: #39aed9;
	--color-yellow: #f5b946;
	--color-red: #d94352;
	--color-enosdev: #1d2025;

	--weight-light: 300;
	--weight-normal: 400;
	--weight-strong: 600;
	--weight-bold: 700;
	--weight-black: 900;

	--hover-color-green: #61ddbc;
	/* --hover-color-green: #addcdd; */
	--hover-color-blue: #66d4f1;
	--hover-color-yellow: #fcd277;
	--hover-color-red: #f76c82;
	--hover-duration: 0.3s;

	--gradient-green: linear-gradient(to right, #42e695 0%, #3bb2b8 50%, #42e695 100%);
	--gradient-blue: linear-gradient(to right, #17ead9 0%, #6078ea 50%, #17ead9 100%);
	--gradient-red: linear-gradient(to right, #622744 0%, #c53364 50%, #622744 100%);
	--gradient-yellow: linear-gradient(to right, #fce38a 0%, #f38181 50%, #fce38a 100%);

	--radius-normal: 5px;
	--radius-medium: 10px;
	--radius-large: 20px;
	--radius-round: 50%;

	--index-back: -1;
	--index-fold: 2;
	--index-menu: 3;
	--index-modal: 4;

	--breakpoint-xs: 0;
	--breakpoint-sm: 576px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 992px;
	--breakpoint-xl: 1200px;
}

/*ELEMENTS*/
li .fas,
li .far,
li .fa {
	margin-right: 10px;
}
.icon {
	margin: 0 10px;
	display: flex;
	align-items: center;
}
i.fas,
i.far,
i.fa {
	margin: 0 5px;
}
hr {
	margin: 10px 0;
}
img {
	max-width: 100%;
}

a {
	text-decoration: none;
}

img a {
	border: none;
}

ul {
	list-style: none;
}

embed,
video,
iframe,
iframe[style] {
	max-width: 100%;
	height: auto;
}

.embed {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
}

.embed iframe,
.embed object,
.embed embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.strike {
	text-decoration: line-through;
}
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.534);
	z-index: 2;
	display: none;
}
.hr {
	border: 1px solid #b3b3b3;
}
.clear {
	clear: both;
}

/* BARRA DE SCROLL */
::-webkit-scrollbar {
	width: 8px;
	height: 10px;
}
::-webkit-scrollbar-track {
	background: #333;
}
::-webkit-scrollbar-thumb {
	background: #77c5c6;
}

/*DEFAULT LOAD*/
.ajax_load {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: calc(var(--index-modal) * 2);
}

.ajax_load_box {
	margin: auto;
	text-align: center;
	color: #ffffff;
	font-weight: var(--weight-bold);
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.ajax_load_box_circle {
	border: 16px solid #e3e3e3;
	border-top: 16px solid var(--hover-color-green);
	border-radius: 50%;
	margin: auto;
	width: 80px;
	height: 80px;

	-webkit-animation: spin 1.2s linear infinite;
	-o-animation: spin 1.2s linear infinite;
	animation: spin 1.2s linear infinite;
}

.ajax_load_box_title {
	margin-top: 15px;
	font-weight: var(--weight-strong);
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/*SEARCH FORM*/
.searsh_form {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	padding-right: 40px;
	padding-top: 20px;
}
.app_search_form {
	display: flex;
}

.app_search_form input {
	font-size: var(--font-normal);
	border: 1px solid #cccccc;
	border-right: 0;
	padding: 5px 10px;
	color: var(--color-default);

	-webkit-border-radius: 4px 0 0 4px;
	-moz-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
	outline: none;
}

.app_search_form button {
	font-size: var(--font-small);
	padding: 5px 10px;
	border: none;
	border-left: 0;
	background: var(--color-green);
	color: #ffffff;
	cursor: pointer;

	-webkit-border-radius: 0 4px 4px 0;
	-moz-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
	transition-duration: 0.2s;
}

.app_search_form button:hover {
	background: var(--hover-color-green);
}

/*BUTTONS*/
.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px 10px;
	background: #555555;
	border: none;
	cursor: pointer;

	color: #ffffff;
	font-size: 0.9em;

	-webkit-border-radius: var(--radius-normal);
	-moz-border-radius: var(--radius-normal);
	border-radius: var(--radius-normal);
	transition-duration: var(--hover-duration);
}

.btn-green {
	background-color: var(--color-green);
}

.btn-green:hover {
	background-color: var(--hover-color-green);
}

.btn-blue {
	background-color: var(--color-blue);
}

.btn-blue:hover {
	background-color: var(--hover-color-blue);
}

.btn-red {
	background-color: var(--color-red);
}

.btn-red:hover {
	background-color: var(--hover-color-red);
}

.btn-yellow {
	background-color: var(--color-yellow);
}

.btn-yellow:hover {
	background-color: var(--hover-color-yellow);
}
