.box-config{
    background-color:#fff;
    padding:10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.box-config .header{
    flex-basis: 100%;
    color:#707070;
    border-bottom: solid 1px #ccc;
    padding-bottom:5px
}
.box-config .permit{
    color:#707070;
    border: solid 1px #ccc;
    padding: 5px;
    margin:10px 10px 0 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.box-config .permit small{
    color:#ccc;
    font-size:.7em
}
.box-config .permit hr{
    margin: 4px 0;
}
.box-config .permit p a{
    padding:5px;
}
.box-config .permit p a:nth-child(1){
    color: var(--color-green)
}
.box-config .permit p a:nth-child(2){
    color: var(--color-red)
}
