@import "boot.css";
@import "modal_mce.css";
@import "paginator.css";
@import "message.css";
@import "publi_form.css";
@import "config.css";
@import "enquete.css";
body {
	background-color: var(--background-default);
}

/* HEADER */
header {
	width: 100%;
	height: 64px;
	background-color: #fff;
	padding: 10px;
	position: fixed;
	top: 0;
	left: 0;
	border-bottom: solid 1px #e2e2e2;
	display: flex;
}
.header-action {
	display: flex;
	flex: 1;
	justify-content: flex-end;
	align-items: center;
	height: 100%;
}
.header-action span.maior {
	color: var(--color-default);
}
.header-action span.maior i {
	font-size: 1.3em;
	color: var(--color-default);
}
.sair {
	color: var(--color-red);
}
.sair:hover {
	color: var(--hover-color-red);
}
.menu {
	background: #47b1d6;
	color: #fff;
	padding: 8px;
	font-size: 1.3em;
	border-radius: 5px;
	cursor: pointer;
}

.mobile-aside {
	display: none;
}
.hide {
	display: none;
}

/* ASIDE */

aside {
	width: 220px;
	position: fixed;
	top: 0;
	right: -220px;
	height: 100%;
	background: var(--color-gray-dark);
	transition: 500ms;
	z-index: 3;
}
.logo {
	height: 64px;
	background-color: #77c5c6;
	display: flex;
	align-items: center;
	justify-content: center;
}
.logo img {
	margin: 0 5px;
}

.mobile {
	padding: 2px 2px;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 15%;
}

.perfil {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #fff;
}
.perfil .img {
	border-radius: 50%;
	padding: 2px;
	border: inset 5px #aaa;
	border-style: solid;
	background: #fff;
	margin-bottom: 10px;
}
.perfil .img div.bc {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-size: cover;
}
aside hr {
	border-color: #707070;
	opacity: 0.2;
}
aside footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 10px;
	font-size: var(--font-min);
	background-color: var(--color-default);
	color: #b4b4b4;
	text-align: center;
	line-height: 20px;
}
aside footer a {
	color: #8b8b8b;
}
aside nav {
	max-height: 60vh;
	padding-bottom: 13px;
	overflow-y: scroll;
	overflow-x: hidden;
}
aside nav li {
	margin-left: 15px;
}

aside nav li a {
	color: #fff;
	padding: 18px 0 18px 20px;
	display: block;
	transition: 500ms;
}
aside nav li a:hover {
	background: #47b1d6;
	border-radius: 15px 0 0 15px;
}
aside nav li.active a.link {
	background: #47b1d6;
	border-radius: 15px 0 0 15px;
}
aside nav li ul.sub {
	background: #fff;
	border-radius: 15px 0 0 15px;
	margin-left: 25px;
	padding: 10px 0;
}
aside nav li ul.sub {
	display: none;
}
aside nav li.active ul.sub {
	display: block;
}
aside nav li ul.sub li {
	margin: 0;
}
aside nav li ul.sub li a {
	color: #707070;
	padding: 5px 0 5px 10px;
	transition: 300ms;
	background: none !important;
}
aside nav li ul.sub li a:hover {
	color: #47b1d6;
	background: none;
	transform: translateX(13%);
}
aside nav li ul.sub li.active a.link {
	color: #47b1d6;
	background: none;
	transform: translateX(13%);
}

/* SECTION */
section {
	width: 100%;
	padding-left: 0;
	padding-top: 64px;
}
.desc {
	width: 100%;
	height: 40px;
	background-color: #fbfcfc;
	padding: 10px 15px 10px 20px;
	color: var(--color-default);
	box-shadow: #e2e2e2 1px 1px 5px;
	font-size: var(--font-medium);
}
main {
	width: 100%;
	padding: 20px 25px;
	display: flex;
	flex-wrap: wrap;
	flex-basis: 100%;
}

/* DASH */
.widgets {
	width: 23%;
	background: #fff;
	margin: 0 1% 1% 1%;
	padding: 10px;
	border: solid 1px #ddd;
	line-height: 1.6em;
	color: var(--color-gray-dark);
	border-radius: 6px;
}

.user_online {
	color: var(--color-default);
}
.user_online h1 {
	font-weight: var(--weight-normal);
}
.trafic_list {
	margin: 30px 0;
	width: 100%;
}
.trafic_list article {
	width: 100%;
	border-bottom: solid 1px var(--color-gray);
	display: flex;
	align-items: center;
	margin-bottom: 15px;
	padding-bottom: 15px;
}
.trafic_list article p {
	font-size: var(--font-small);
}
.trafic_list article p:nth-child(1) {
	width: 100%;
	max-width: 320px;
	margin-right: 25px;
}
.trafic_list article p:nth-child(2) {
	width: 100%;
	max-width: 150px;
	margin-right: 25px;
}
.trafic_list article p:nth-last-of-type(1) {
	width: 100%;
	max-width: 680px;
	font-size: var(--font-min);
	background: #fbfbfb;
	padding: 10px;
	border-radius: 8px;
}
.trafic_list article p a {
	color: var(--color-default);
}
.trafic_list article p a:hover {
	color: var(--color-enosdev);
}

/* 
*LISTA USUÁRIOS
*/
.user-list {
	text-align: center;
}
.user-list div.cover {
	width: 100%;
	/* max-width: 240px; */
	height: 200px;
	border-radius: var(--radius-normal);
	background-size: cover;
	margin: 0 auto;
	text-align: center;
}

/* PÁGINA COM FORMULÁRIO GERAL */
.main_sidebar {
	flex-basis: 20%;
	color: var(--color-default);
}
.dash_content_sidebar_desc {
	font-size: var(--font-small);
	margin: 10px 0;
}
.main_box {
	flex-basis: 80%;
	padding-left: 50px;
}

/*FORM*/

.app_form .label {
	display: block;
	width: 100%;
	margin-bottom: 20px;
}

.app_form .legend {
	display: block;
	margin-bottom: 10px;
	font-size: var(--font-small);
	font-weight: var(--weight-strong);
	color: #888888;
}

.app_form input,
.app_form select,
.app_form textarea {
	display: block;
	width: 100%;

	color: #000000;
	font-size: var(--font-normal);
	padding: 10px;
	background: #ffffff;
	border: 1px solid #cccccc;
	resize: none;

	-webkit-border-radius: 0 var(--radius-normal) var(--radius-normal) var(--radius-normal);
	-moz-border-radius: 0 var(--radius-normal) var(--radius-normal) var(--radius-normal);
	border-radius: 0 var(--radius-normal) var(--radius-normal) var(--radius-normal);
}
.app_form input[type="color"] {
	padding: 0;
	width: 50px;
	height: 45px;
	border: none;
	background: none;
}

.app_form select {
	-webkit-appearance: none;
	-moz-appearance: none;
	background-image: url("../images/selectarrow.png");
	background-position: right 15px center;
	background-repeat: no-repeat;
	background-size: auto 20%;
}

.app_form input[type="date"] {
	-webkit-appearance: none;
	font-size: 1em !important;
	font-family: "Open Sans", serif !important;
	padding: 7px 10px !important;
	font-weight: var(--font-normal);
	color: #888888;
}

.app_form .btn {
	font-size: var(--font-normal);
	cursor: pointer;
	padding: 10px 20px;
	margin-top: 15px;
}

.box-permission{
	display: flex;
	flex-wrap: wrap;
}
.permission-item{
	border:solid 1px #ccc;
	padding:5px 10px;
	margin:5px;
	display: flex;
	align-items: center;
	border-radius: 0 5px 5px 5px;
}
.permission-item label{
	margin-left:5px
}
.permission-item input{
	width: max-content;
}

@media (min-width: 42em) {
	.app_form .label_g2 {
		display: flex;
	}

	.app_form .label_g2 .label {
		flex-basis: calc(50% - 10px);
	}

	.app_form .label_g2 .label:first-child {
		margin-right: 20px;
	}
}

.app_form_footer {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
}

.app_form_footer .remove_link {
	font-size: var(--font-small);
	font-weight: var(--weight-strong);
	color: var(--color-red);
}

.app_form_footer .remove_link:hover {
	color: var(--hover-color-red);
}

/* AGENDA */
.title a {
	color: var(--color-default);
	transition: 300ms;
}
.title a:hover {
	color: var(--color-gray);
}
.info_list {
	font-size: var(--font-min);
	text-align: left;
	line-height: 1.5em;
	margin-top: 10px;
}
.info_list p {
	display: inline-block;
}
.actions {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-top: 10px;
}
.actions a {
	margin-left: 5px;
}

/* CATEGORIEs */
.widgets_categories {
	width: 48%;
	background: #fff;
	margin: 0 1% 1% 1%;
	padding: 10px;
	border: solid 1px #ddd;
	line-height: 1.6em;
	color: var(--color-gray-dark);
	border-radius: 6px;
	display: flex;
}
.widgets_categories .thumb {
	display: flex;
	flex-basis: 25%;
	align-items: center;
}
.widgets_categories .info {
	flex-basis: 75%;
	padding-left: 10px;
}
.widgets_categories .info .title {
	display: flex;
	align-items: center;
	flex-flow: row;
}
.widgets_categories .cover {
	background-size: cover;
	background-color: var(--color-gray);
}

/* Dispositivos extra small (telefones em modo retrato, com menos de 576px) */
@media (max-width: 575.98px) {
	.widgets,
	.widgets_categories {
		width: 100%;
	}
	.trafic_list article p:nth-child(2) {
		display: none;
	}
	.main_sidebar {
		flex-basis: 100%;
		margin-bottom: 10px;
	}
	.main_box {
		flex-basis: 100%;
		padding-left: 0;
	}
}

/* Dispositivos small (telefones em modo paisagem, com 576px ou mais) */
@media (min-width: 576px) and (max-width: 767.98px) {
	.widgets_categories {
		width: 100%;
	}
	.widgets {
		width: 48%;
	}
	.trafic_list article p:nth-child(2) {
		display: none;
	}
}

/* Dispositivos médios (tablets com 768px ou mais) */
@media (min-width: 768px) and (max-width: 991.98px) {
	.widgets {
		width: 48%;
	}
	.trafic_list article p:nth-child(2) {
		display: none;
	}
}

/* Dispositivos large (desktops com 992px ou mais) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* Dispositivos extra large (desktops grandes com 1200px ou mais) */
@media (min-width: 1200px) {
	.on_mobile {
		display: none;
	}
	aside {
		left: 0;
	}
	section {
		padding-left: 220px;
	}
	.hide {
		display: block;
	}
	.menu,
	.mobile {
		display: none;
	}
}

.copylink,
.copy {
	cursor: pointer;
}

.allowCopy {
	position: absolute;
	top: -10px;
	border: none !important;
	background: none !important;
	display: inline !important;
	box-sizing: border-box;
	cursor: default;
	outline: none;
	color: #ccc;
	opacity: 0.1;
}
.CopyVeja {
	opacity: 0;
	font-size: 1px !important;
	padding: 0 !important;
}
.alertando,
.alertando-links {
	position: absolute;
	top: -40px;
	left: 15px;
	background: rgb(0, 119, 255);
	padding: 10px 15px;
	color: #fff;
	font-weight: normal;
	border-radius: 10px;
	display: none;
}
#view_links {
	background-color: #fff;
	margin: 10px 0;
	padding: 10px 20px;
}
#view_links p {
	color: var(--color-enosdev);
	margin: 5px 0;
}
#view_links a {
	text-decoration: none;
	color: var(--color-enosdev);
}
#view_links a h3 {
	font-weight: normal;
	font-size: 1em;
	margin: 5px 0;
}
