*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

.img-fluid{
    max-width: 100%;
    height: auto;
}
.img-max{
    width: 100%;
    height: auto;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

hr{
    opacity: .3;
}

.b {
    margin: -6px 10px 0 10px;
    .buscar {
        position: relative;
        border: solid 4px #fff;
        padding: 1px 3px;
        border-radius: 50%;
        font-size: 7px;
        color: transparent;
        cursor: pointer;
        transition: 300ms;
        &::after{
            content: '';
            position: absolute;
            bottom: -6px;
            height: 4px;
            width: 13px;
            border-radius: 50px;
            background-color: #fff;
            transform: rotate(45deg);
        }
        &:hover{
            opacity: .5;
        }
    }
}

.mymodal{
    width: 100%;
    height: 100%;
    position: fixed;
    // top: 0;
    // right: 0;
    // bottom: 0;
    // left: 0;
    background: rgba(0,0,0,0.7);
    z-index: 100;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: fill;
    overflow: none; /* só ativa o scroll se o conteúdo do modal for cumprido */
    display: flex;
    align-items: center;
    justify-content: center;
}
.abrirModal{
    opacity: 1;
}

.video-play {
    width: 80%;
    padding-top: 46.25%;
    position: relative;
    iframe {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    .close{
        position: absolute;
        top:-30px;
        right:-20px;
        z-index: 110;
        color:#fff;
        padding:5px 16px;
        font-size: 1.5em;
        background:#f00;
        border:solid 2px #fff;
        border-radius:50%;
        cursor: pointer;
    }
}