*{
    margin:0;padding:0;box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

.container{
    width: 100%;
    max-width: 1124px;
    margin:0 auto
}

.header{
    background-color: #ff8000;
    padding: 0 0 10px 0;
    .topo{
        flex-basis: 100%;
        background-color:rgba(255,255,255,.3);
        padding:.5em 0;
        margin-bottom:.7em;
        .container{
            display: flex;
            justify-content: space-between;
            .horas-state{
                display: flex;
                align-items: center;
                .clock{
                    font-size:.8em;
                    color:#fff;
                }
                .state{
                    margin-left:1em;
                    a{
                        font-size:.8em;
                        display: flex;
                        align-items: center;
                        color:#fff;
                    }
                }
            }
            .redes-sociais{
                color:#fff;
                display: flex;
                font-size:.9em;
                .social{
                    display: flex;
                    .social_item{
                        margin:0 .3em;
                        a{
                            width: 1.6em;
                            height: 1.6em;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius:50%;
                            background-color: #fff;
                            transition: 300ms;
                            &.facebook{
                                color: #0071bc;
                            }
                            &.twitter{
                                color: #29abe2;
                            }
                            &.youtube{
                                color: #ed1c24;
                            }
                            &.instagram{
                                color: #c1272d;
                            }
                            &.telegram{
                                color: #87ceeb;
                            }
                            &.whatsapp{
                                color: #128c7e;
                            }
                            &:hover{
                                background-color:#ff8000;
                                color:#fff
                            }
                        }
                    }
                }
            }
        }
    }
    .logo-menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        .logo{
            height: 76px;
            img{
                height: 100%;
            }
        }
        .menu-mobile{
            display: none;
            color:#fff;
            font-size: 1.5em;
            margin-right: 1em;
            cursor: pointer;
            padding:.5em .7em;
            transition: 300ms;
            line-height: 0;
            &:hover{
                background-color: #ac5702;
                padding:.5em .7em;
                border-radius:10px
            }
        }
        nav{
            ul{
                display: flex;
                flex-direction: row;
                a{
                    color: #fff;
                    padding:10px;
                    font-weight: 600;
                    transition: 300ms;
                    &:hover{
                        color: #ac5702;
                    }
                }
                .active{
                    color:#ac5702;
                }
            }
        }
    }
}

.info{
    padding:0 20px;
    height: 400px;
    position:relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#fff;
    h1{
        font-size: 2.5em;
        text-align: center;
    }
    p{
        font-weight: 300;
        margin: 15px 0;
        text-align: center;
    }
    .bg{
        background-size: cover;
        background-position: center;
        position: absolute;
        left: 0;
        top:0;
        right: 0;
        bottom:0;
        z-index: -1;
        filter: blur(4px);
        transform: scale(1.05);
        &::after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom:0;
            right: 0;
            background-image: linear-gradient(rgba(255, 128, 0, 0.5), #000) ;
        }
    }
}

.gallery{
    max-width: 100%;
    background-color: #000;
    ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        list-style: none;
        line-height:0;
        li{
            width: 25%;
            max-height: 100%;
            overflow: hidden;
            img{
                width: 100%;
            }
        }
    }
    // ul{
    //     // display: flex;
    //     // flex-wrap: wrap;
    //     // justify-content: flex-start;
    //     list-style: none;
    //     -webkit-column-count: 4;
    //     -webkit-column-gap: 0px;
    //     -moz-column-count: 4;
    //     -moz-column-gap: 0px;
    //     column-count: 4;
    //     column-gap: 0px;
    //     line-height:0;
    //     li{
    //         // width: 25%;
    //         // max-height: 100%;
    //         // overflow: hidden;
    //         img{
    //             width: 100%;
    //         }
    //     }
    // }
}


//responsivando
@media (max-width: 37em) {
    .container{
        margin: 0 .5em;
    }
    .redes-sociais{
        display: none!important;
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 49em) {
    .header{
        .logo-menu{
            position: relative;
            .menu-mobile{
                display:block;
            }
            nav{
                position: absolute;
                top:80px;
                left:-260px;
                background-color: #ff8000;
                width: 250px;
                z-index: 100;
                padding-left:20px;
                transition: 300ms;
                ul{
                    display: block;
                    li{
                        margin: 1em 0
                    }
                }
            }
            .menu-active{
                left:-10px;
            }
        }
    }

    .info{
        height: 170px;
        h1{
            font-size: 1.5em;
        }
        p{
            font-size: .8em;
        }
    }

    .gallery{
        ul{
            li{
                width: 100%;
            }
        }
    }

    .footer{
        .copyright{
            flex-direction: column;
            padding:0 1em;
            span{
                text-align: center;
            }
        }
    }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {  }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {  }